<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/albums.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yellowtail">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css')}}">
    <Link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/icomoon/style.css')}}">
</head>
<body>

<div class="row" id="row">
    <div id="nav">
        <div class="col s1 z-depth-5" id="col1">
            <i class="icon-menu white-text" onclick="menu()"></i>
    <!--Sidebar links-->
            <div id="side_links">
                <a href="https://www.facebook.com/nastyczzle/"><i class="icon-facebook white-text links"></i></a>
                <a href="https://twitter.com/nasty_csa"><i class="icon-twitter white-text links"></i></a>
                <a href="https://www.instagram.com/nasty_csa/"><i class="icon-instagram white-text links"></i></a>
                <a href="https://open.spotify.com/artist/7yqUBFfoumKm6nNuzxpgcD"><i class="icon-spotify white-text links"></i></a>
                <a href="https://www.youtube.com/channel/UC01ompoZ0RMCuWP2ZODqzbg/featured"><i class="icon-youtube white-text links"></i></a>
            </div>
        </div>
    </div>

    <div class="col s9 push-s1" id="content">
        <h2 class="grey-text center">Nasty C</h2>

        <div class="container center">
            <a href="https://open.spotify.com/album/6JyxiTsgY9NgCgBxwtrhgo">
            <img alt="Bad Hair" src="{{ url_for('static', filename='img/pic2.jpg')}}" class="banner" id="img1">
            <br>
            <br>
            <button class="btn transparent icon-play-circle"></button>
             </a>
            <br>
            <br>
            <a href="https://open.spotify.com/album/6JyxiTsgY9NgCgBxwtrhgo">
            <img alt="Bad Hair Extensions" src="{{ url_for('static', filename='img/extensions.png')}}" class="banner">
            <br>
            <br>
            <button class="btn transparent icon-play-circle"></button>
             </a>
            <br>
            <br>
            <a href="https://open.spotify.com/album/6JyxiTsgY9NgCgBxwtrhgo">
            <img alt="Strings And Bling" src="{{ url_for('static', filename='img/pic1.jpeg')}}" class="banner">
            <br>
            <br>
            <button class="btn transparent icon-play-circle"></button>
             </a>
            <br>
            <br>
            <a href="https://open.spotify.com/album/6JyxiTsgY9NgCgBxwtrhgo">
            <img alt="Lost Files" src="{{ url_for('static', filename='img/lostfiles.jpg')}}" class="banner">
            <br>
            <br>
            <button class="btn transparent icon-play-circle"></button>
            </a>

             <div class="sib-form" style="text-align: center;
         background-color: transparent;">
        <div id="sib-form-container" class="sib-form-container">

        <form id="sib-form" method="POST" action="https://326fcee8.sibforms.com/serve/MUIEALE0T2NlX1hgBGpltZXz3e0BpENl-9qBfrKb0uU7onhhN7XccC8rOCllCV4cy3e7MvJ9W8L96DR0G3h1wj7qOcxfGb2oFP5ZpJklKx2id6phOyt8xwd2xxPeROcAB8gtvHsO9t0lMHG6RFlPCNtNVrks-Vc5-Sf8Y1GqXb8sp2XTjHMMbhw_uALqsovTp38W39txCVUoMIey">


            <h4 class="white-text">SUBSCRIBE TO OUR NEWSLETTER</h4>


                <div class="entry__field">
                  <input class="input white-text" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="EMAIL" data-required="true" required />
                </div>



          <div class="sib-optin sib-form-block">
            <div class="form__entry entry_mcq">
              <div class="form__label-row ">
                <div class="entry__choice">
                  <label>
                    <input type="checkbox" class="input_replaced" value="1" id="OPT_IN" name="OPT_IN" required />
                    <span class="checkbox checkbox_tick_positive"></span><span style="font-size:14px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#3C4858; background-color:transparent; border-width:px;"><p>I agree to receive your newsletters and to terms and conditions.</p></span>                    </label>
                </div>
              </div>
              <label class="entry__specification" style="font-size:12px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#8390A4; border-width:px;">
                You may unsubscribe at any time using the link in our newsletter.
              </label>
            </div>
          </div>
          <div class="sib-form-block">
            <button class="btn grey form="sib-form" type="submit"">
              SUBSCRIBE
            </button>
          </div>
        <input type="hidden" name="locale" value="en">
        <input type="hidden" name="html_type" value="simple">
      </form>
    </div>
  </div>
        </div>
    </div>
</div>

 <div id="video-container">
     <video autoplay muted loop id="myVideo">
         <source type="video/mp4" src="{{ url_for('static', filename='img/videoplayback-2.mp4')}}"/>
     </video>
 </div>

<div id="menu_overlay">
    <h2 class="center white-text"><a href="/" class="white-text">Nasty C</a></h2>
    <div class="center">
        <i class="icon-arrow-circle-o-left white-text" onclick="exit()"></i>
    </div>
    <ul class="white-text center">
        <li class="white-text"><a href="/music">Music</a></li>
         <li class="white-text"><a href="/tour">Tour</a></li>
         <li class="white-text"><a href="/contact">Contact</a></li>
    </ul>
    <footer class="white-text center"><i class="icon-copyright white-text">2020 Nasty C || All Rights Reserved || By Amal Levi</i></footer>
</div>

     <footer class="white-text center"><i class="icon-copyright white-text">2020 Nasty C || All Rights Reserved || By Amal Levi</i></footer>

<script type="text/javascript" src="{{ url_for('static', filename='js/init.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
</body>
</html>